In [4]:
# Bibliotecas
#!pip install prophet

import yfinance as yf

In [6]:
dados = yf.Ticker("PETR4.SA").history("2y")
dados.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-03-21 00:00:00-03:00,14.942918,15.513369,14.812391,15.353836,67700800,0.0,0.0
2022-03-22 00:00:00-03:00,15.465023,15.518200,15.155626,15.286153,56128600,0.0,0.0
2022-03-23 00:00:00-03:00,15.436018,15.697072,15.319994,15.494029,52956100,0.0,0.0
2022-03-24 00:00:00-03:00,15.494030,15.759917,15.310325,15.672899,49402800,0.0,0.0
2022-03-25 00:00:00-03:00,15.542373,15.735746,15.431183,15.614887,51780100,0.0,0.0

In [17]:
# Tratamento de dados
treinamento = dados.reset_index()
treinamento["Date"] = treinamento["Date"].dt.date
treinamento = treinamento[["Date","Close"]]
treinamento.columns = ["ds","y"]
treinamento

             ds          y
0    2022-03-21  15.353836
1    2022-03-22  15.286153
2    2022-03-23  15.494029
3    2022-03-24  15.672899
4    2022-03-25  15.614887
..          ...        ...
496  2024-03-15  36.320000
497  2024-03-18  36.340000
498  2024-03-19  36.070000
499  2024-03-20  36.700001
500  2024-03-21  35.700001

[501 rows x 2 columns]